@use '../custom' as *;

@mixin gradient {
    background: linear-gradient(to right ,rgba($primary,0.95),rgba($secondary,0.95));
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

// transition property
@mixin transitionProperty{
    transition-duration: 1000ms;
    transition-property: all;
}