@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*--dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* neutral
    --dark-gray: hsl(0, 0%, 59%);*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 18px;

}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 11%, 12%);
}

section{
    background: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card{
    width: 350px;
    border-radius: 20px;
    background: white;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.card-header{
    background-image: url(images/bg-pattern-card.svg);
    background-size: cover;
    height: 150px;
}

.card-body{
    padding: 0 20px 25px;
}

.img-holder{
    width: 110px;
    height: 110px;
    overflow: hidden;
    margin: -55px auto 30px auto;
    border-radius: 50%;
    border: 5px solid white;
}
/*.img-holder img{
    width: 100px;
    height: auto;
    display: block;
}*/

.name-age{
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.age,
.city,
.meta{
    font-weight: 400;
    color: hsl(0, 11%, 12%);
    opacity: .5;
}

.age{
    margin-left: 6px;;
}

.city{
    font-size: .9rem;
}

.card-footer{
    border-top: 1px solid hsl(0, 3%, 86%);
    display: flex;
    padding: 0 25px;
}
.card-footer .item{
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-footer .item .value{
    font-size: 1rem;
    margin-bottom: 6px;
}

.card-footer .item .meta{
    font-size: .6rem;
    letter-spacing: 1px;
}

.attribution { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: .4s;
    padding: 20px;
    background: white;
    text-align: center;
}

.attribution:hover{
    transform: translateY(0);
}

.attribution:before { 
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 10;
}

/* graphics of circles */

.circles .cir1,
.circles .cir2{
    position: absolute;
    width: 800px;
    animation: 2s circles forwards;
    opacity: 0;
    
}

.circles .cir1{
    top: -300px;
    left: -175px;
    transform: translate(-100px, -50px);
}

.circles .cir2{
    bottom: -300px;
    right: -175px;
    transform: translate(100px, 50px);
}

@keyframes circles {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}